@font-face {
    font-family: 'quicksandregular';
    src: url('/fonts/quicksand-regular-webfont.woff2') format('woff2'),
        url('/fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}